In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.feature_extraction.text import CountVectorizer

# 1. Load Data

In [36]:
df = pd.read_csv('Pokemon.csv')
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
#             800 non-null int64
Name          800 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
Total         800 non-null int64
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

(800, 13)

In [212]:
# cek null
df.isnull().sum()
df.tail(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# 2. Feature Selection
Ada 3 fitur yang ingin dipakai sebaga parameter sistem rekomendasi, yaitu
requirement feature :
- Type 1
- Generation
- Legendary

In [8]:
df_selection = df[['Type 1', 'Generation', 'Legendary']]
df_selection.head()

  Type 1  Generation  Legendary
0  Grass           1      False
1  Grass           1      False
2  Grass           1      False
3  Grass           1      False
4   Fire           1      False

Ternyata, ada fitur yang mengandung Kategorical Data yaitu Fitur "Type 1". Untuk menangani hal ini maka akan dilakukan proses mapping value dari fitur ini.

In [11]:
print(df_selection['Type 1'].nunique(), "tipe kategorical data")
df_selection['Type 1'].unique()

18 tipe kategorical data

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [16]:
# Mengekstraksi fitur Type 1

extractor = CountVectorizer()
print(extractor.fit(df_selection['Type 1']))

print("fitur kata",extractor.get_feature_names())
print("jumlah fitur kata : ",len(extractor.get_feature_names()))

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)
fitur kata ['bug', 'dark', 'dragon', 'electric', 'fairy', 'fighting', 'fire', 'flying', 'ghost', 'grass', 'ground', 'ice', 'normal', 'poison', 'psychic', 'rock', 'steel', 'water']
jumlah fitur kata :  18

In [28]:
# Transformasi matrix dari data kategorical Type 1

fitur_name = extractor.get_feature_names()
trf_matrix = extractor.transform(df_selection['Type 1']).toarray()
fitur_name = extractor.get_feature_names()

# print(trf_matrix)

df_matrix = pd.DataFrame(trf_matrix, columns=fitur_name)
df_matrix

,bug,dark,dragon,electric,fairy,fighting,fire,flying,ghost,grass,ground,ice,normal,poison,psychic,rock,steel,water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
796,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
797,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
798,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
799,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [29]:
# menambahkan matriks dengan fitur yang lainnya (Generation and Legendary)
df_matrix['gen'] = df['Generation']
df_matrix['legend'] = list(map(lambda leg : 1 if leg else 0 , df['Legendary']))
df_matrix

,bug,dark,dragon,electric,fairy,fighting,fire,flying,ghost,grass,ground,ice,normal,poison,psychic,rock,steel,water,gen,legend
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,6,1
796,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,6,1
797,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,6,1
798,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,6,1
799,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,6,1

# Hitung Angka Kemiripan Dengan Cosine Similarity

In [134]:
# cosinus similarity
from sklearn.metrics.pairwise import cosine_similarity

# ini adalah matriks kemiripan masing masing konten pokemon
similarity_scores = cosine_similarity(trf_matrix)
print(similarity_scores.shape)

dfsimi = pd.DataFrame(similarity_scores)
dfsimi.to_csv('similarity.csv', sep=',', index=False)
# df.to_csv(file_name, sep='\t')

(800, 800)

In [66]:


inputFav = 'bulbasaur'
inputFav = input.capitalize()

# ada user suka produk dengan Name == input
# select similarity score by name
indexFav = df[df['Name'] == inputFav].index[0]
indexFav

listMirip = list(enumerate(similarity_scores[indexFav])) # enumerate untuk manampilkan indexnya !!!!!!!!!!!!!!!!!!!!!!
listMirip
#mengurutkan hasil cosine similarity
listMirip = sorted(listMirip, key = lambda x: x[1], reverse=True) # select tuple ke 1, ke 0 adalah indexnya
listMirip[ : 6]

[(30, 1.0), (31, 1.0), (88, 1.0), (89, 1.0), (108, 1.0), (109, 1.0)]

In [69]:
# seleksi 6 data yang paling mirip
top6mirip = listMirip[:6]
for i, simi in top6mirip:
    print("index pokemon ke : ", i)
    print(df.iloc[i])
    print("-"*50)

index pokemon ke :  30
#                   25
Name           Pikachu
Type 1        Electric
Type 2             NaN
Total              320
HP                  35
Attack              55
Defense             40
Sp. Atk             50
Sp. Def             50
Speed               90
Generation           1
Legendary        False
Name: 30, dtype: object
--------------------------------------------------
index pokemon ke :  31
#                   26
Name            Raichu
Type 1        Electric
Type 2             NaN
Total              485
HP                  60
Attack              90
Defense             55
Sp. Atk             90
Sp. Def             80
Speed              110
Generation           1
Legendary        False
Name: 31, dtype: object
--------------------------------------------------
index pokemon ke :  88
#                    81
Name          Magnemite
Type 1         Electric
Type 2            Steel
Total               325
HP                   25
Attack               35
Defense              70
Sp. Atk              95
Sp. Def              55
Speed                45
Generation            1
Legendary         False
Name: 88, dtype: object
--------------------------------------------------
index pokemon ke :  89
#                   82
Name          Magneton
Type 1        Electric
Type 2           Steel
Total              465
HP                  50
Attack              60
Defense             95
Sp. Atk            120
Sp. Def             70
Speed               70
Generation           1
Legendary        False
Name: 89, dtype: object
--------------------------------------------------
index pokemon ke :  108
#                  100
Name           Voltorb
Type 1        Electric
Type 2             NaN
Total              330
HP                  40
Attack              30
Defense             50
Sp. Atk             55
Sp. Def             55
Speed              100
Generation           1
Legendary        False
Name: 108, dtype: object
--------------------------------------------------
index pokemon ke :  109
#                   101
Name          Electrode
Type 1         Electric
Type 2              NaN
Total               480
HP                   60
Attack               50
Defense              70
Sp. Atk              80
Sp. Def              80
Speed               140
Generation            1
Legendary         False
Name: 109, dtype: object
--------------------------------------------------

# Membuat Function

In [142]:
dfsimisimi = pd.read_csv('similarity.csv')
dfsimisimi.iloc[0]

0      1.0
1      1.0
2      1.0
3      1.0
4      0.0
      ...
795    0.0
796    0.0
797    0.0
798    0.0
799    0.0
Name: 0, Length: 800, dtype: float64

In [146]:

def getRecomendation(inputFav):
    input = inputFav.lower()
    #get index
    indexFav = df[df['Name'].apply(lambda a : a.lower()) == input].index
    
    if len(indexFav) == 0:
        print("Nama Pokemon tidak ditemukan") 
    else:
        indexFav = indexFav[0]
        print(indexFav)
    
        listMirip = list(enumerate(dfsimisimi.iloc[indexFav])) # enumerate untuk manampilkan indexnya !!!!!!!!!!!!!!!!!!!!!!
        listMirip = sorted(listMirip, key = lambda x: x[1], reverse=True) # select tuple ke 1, ke 0 adalah indexnya
        top6mirip = listMirip[:6]
        name = []
        for i, simi in top6mirip:
            print("index pokemon ke : ", i)
#             print(df.iloc[i])
            print(df.iloc[i]['Name'])
            name.append(df.iloc[i]['Name'].lower())
            print("-"*50)
        return name
daftarNama = getRecomendation('PikachU')

30
index pokemon ke :  30
Pikachu
--------------------------------------------------
index pokemon ke :  31
Raichu
--------------------------------------------------
index pokemon ke :  88
Magnemite
--------------------------------------------------
index pokemon ke :  89
Magneton
--------------------------------------------------
index pokemon ke :  108
Voltorb
--------------------------------------------------
index pokemon ke :  109
Electrode
--------------------------------------------------

In [111]:
import requests
url = "https://pokeapi.co/api/v2/pokemon/pikachu"
response = requests.get(url)
jsonresponse = response.json()
name = jsonresponse['name']
sprite = jsonresponse['sprites']['front_shiny']

print(name)
print(sprite)

pikachu
https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/25.png

In [124]:
url_only = "https://pokeapi.co/api/v2/pokemon/"
for i in daftarNama:
    print(url_only+i)
    response = requests.get(url_only+i)
    jsonresponse = response.json()
    name = jsonresponse['name']
    sprite = jsonresponse['sprites']['front_shiny']
    print(name)
    print(sprite)
    print(100*'-')

https://pokeapi.co/api/v2/pokemon/pikachu
pikachu
https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/25.png
----------------------------------------------------------------------------------------------------
https://pokeapi.co/api/v2/pokemon/raichu
raichu
https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/26.png
----------------------------------------------------------------------------------------------------
https://pokeapi.co/api/v2/pokemon/magnemite
magnemite
https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/81.png
----------------------------------------------------------------------------------------------------
https://pokeapi.co/api/v2/pokemon/magneton
magneton
https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/82.png
----------------------------------------------------------------------------------------------------
https://pokeapi.co/api/v2/pokemon/voltorb
voltorb
https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/100.png
----------------------------------------------------------------------------------------------------
https://pokeapi.co/api/v2/pokemon/electrode
electrode
https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/101.png
----------------------------------------------------------------------------------------------------

In [148]:
def getLink(nama):
    response = requests.get(url_only+nama)
    jsonresponse = response.json()
    name = jsonresponse['name']
    sprite = jsonresponse['sprites']['front_shiny']
    print(name)
    print(sprite)
    return sprite
    
getLink('pikachu')

pikachu
https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/25.png

'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/25.png'

In [216]:
def getType(nama):
    x = df[df['Name'] == nama]
#     x = x['Type 1'].to_numpy()[0]
    x = x['Type 1'].get_values()[0]
    return x

tipe = getType('Pikachu')
print(tipe)

def getTypeViaID(id):
    x = df.iloc[id]
    x = x['Type 1']
    return x

tipe2 = getTypeViaID(2)
print(tipe2)

Electric
Grass

c:\users\nadian\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.to_numpy()' or '.array' instead.
  after removing the cwd from sys.path.

In [213]:
def getLegend(nama):
    x = df[df['Name'] == nama]
    x = x['Legendary'].to_numpy()[0]
    return x

legend = getLegend('Pikachu')
print(legend)

def getLegendViaID(id):
    x = df.iloc[id]
    x = x['Legendary']
    return x

legend2 = getLegendViaID(793)
print(legend2)

False
True

<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/25.png">